/*TAGS GLOBAIS*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 235);
}

img{
    max-width: 100%;
    height: auto;
}

/*UTILITARIOS*/

.sombra-azul{
    text-shadow: 1px 1px #38879F;
    font-weight: bolder;
}

.sombra-magenta{
    text-shadow: 1px 1px #BE315B;
    font-weight: bolder;
}


/*TÍTULO*/
.titulo{
    margin-left: 200px;
}


/*CABEÇALHO INICIO*/

header{
    margin: auto;
    text-align: center;
}

.cab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: black;
    padding-left: 27%;
  }

.cab li img{
    height: 169px;
    padding: 14x 16px 14px 16px;
}
  
.cab li {
    float: left;
  }

.cab li a {
        color:black;
        font-size: 30px;
        display: inline-block;
        text-align: center;
        padding: 70px 40px 0px 40px;
        text-decoration: none;
}

#link_home{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #38879F;
}

#link_info{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #BE315B ;
}

#link_sobre{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #F5C043;
}

li a:hover:not(.ativo-h, .ativo-i, .ativo-s){
    font-size: 35px;
  }
  

.ativo-h{
    background-color: #38879fa6;
}

.ativo-i{
    background-color: #BE315Ba6;
}

.ativo-s{
    background-color: #F5C043a6;
}

/*CABEÇALHO FIM*/


/*SUAS IDEIAS INICIO*/

.suas-ideias-pai{
    margin-top: 80px;
    max-width: 100%;
    height: auto;
}

.suas-ideias{
    background-image: url(img/elementos/camiseta-stock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    margin: 0px 0px 120px 0px;
    color: rgb(255, 255, 235);
    font-size: 150%;
}

.suas-ideias h1{
    margin-top: 100px;
    padding-left: 200px;
    padding-top: 50px;
    font-size: 200%;
    text-shadow: 2px 2px #000000
}

.suas-ideias button{
    margin-left: 200px;
    bottom: 50px;
    background-color: transparent;
    color: rgb(255, 255, 235);
    cursor: pointer;
    border-color: rgb(255, 255, 235);
    border-width: 2px;
    border-style: solid;
    text-shadow: 2px 2px #000000
}

.clique-aqui{
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.clique-aqui:hover{
    color: black;
    background-color: rgb(255, 255, 235, 0.8);
    text-shadow: 2px 2px rgb(255, 255, 235);
}

.clique-aqui:after{
    content: "";
    background: rgb(255, 255, 235, 0.8);
    opacity: 0;
    transition: all 0.8s
}

/*SUAS IDEIAS FIM*/


/*AMOSTRAS*/
.margin{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(255, 255, 235);
}

/*ATACADO INICIO*/
.atacado-pai{
    margin-top: 50px;
    padding: 10px;
    width:100%;
    display: flex;
    justify-content: center;
}

.atacado-pai h5{
    text-align: center;
}

.atacado-formatacao{
    width:100%;
    display: flex;
    justify-content: center;
}

#borda-img{
    border: 1px solid black;
    border-radius: 25px
}

/*ATACADO FIM*/

/*CONTATOS*/
.contatos{
    font-size: 40px;
    margin-top: 80px;
    font-weight: bold;
    padding: 3px 3px 3px 20px;
    background-color: rgb(56, 135, 159, 0.7)
}

.instagram{
    font-size: 40px;
    font-weight: bold;
    padding: 3px 3px 3px 20px;
    background-color: rgb(190, 49, 91, 0.7);
}

.instagram a{
    text-decoration: none;
    color: black;
}

.celular{
    font-size: 40px;
    font-weight: bold;
    padding: 3px 3px 3px 20px;
    background-color: rgb(245, 192, 67, 0.7);
}

