/*FONTE*/
body{
    
}

/*TÍTULO*/
.titulo{
    margin-left: 100px;
}


/*CABEÇALHO*/
.cab ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    padding-left: 17%;
  }

.cab li img{
    height: 169px;
    padding: 14x 16px 14px 16px;
}
  
.cab li {
    float: left;
  }

.cab li a {
        color:black;
        font-size: 30px;
        display: block;
        text-align: center;
        padding: 70px 40px 0px 40px;
        text-decoration: none;
}

#link_home{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #38879F;
}

#link_info{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #BE315B ;
}

#link_sobre{
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #F5C043;
}

li a:hover:not(.ativo-h, .ativo-i, .ativo-s){
    font-size: 35px;
  }
  

.ativo-h{
    background-color: #38879fa6;
}

.ativo-i{
    background-color: #BE315Ba6;
}

.ativo-s{
    background-color: #F5C043a6;
}

/*Imagem "Você sonha, nós personalizamos"*/
#sonho{
    display: block;
}

/*SUAS IDEIAS*/
.suas-ideias{
    background-color: #e5e5e5;
    margin: 0px 0px 60px 0px;
}

.suas-ideias h1{
    margin: 60px;
    padding-left: 350px;
    padding-top: 50px;
}

.suas-ideias button{
    margin-left: 10px;
    display: inline-block;
    position: relative;
    left: 400px;
    bottom: 50px;
}

/*AMOSTRAS*/
.margin{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

/*CONTATOS*/
.contatos{
    font-weight: bold;
    padding: 3px 3px 3px 10px;
    background-color: rgb(56, 135, 159, 0.7)
}

.instagram{
    font-weight: bold;
    padding: 3px 3px 3px 10px;
    background-color: rgb(190, 49, 91, 0.7);
}

.celular{
    font-weight: bold;
    padding: 3px 3px 3px 10px;
    background-color: rgb(245, 192, 67, 0.7);
}

